<%= "Coupon Name: #{@coupon.name}" %>
<p><%= "Code: #{@coupon.code}" %> </p>
<% if @coupon.discount_type = 0 %>
  <p><%= "Value: #{@coupon.value}% off" %> </p>
<% elsif @coupon.discount_type = 1 %>
  <%= "Value: $#{@coupon.value} off" %>
<% end %>
<p><%= "Status: #{@coupon.status}" %></p>
<% if @coupon.times_applied == 1 %>
<%= "This coupon has been used #{@coupon.times_applied} time" %>
<% else %>
<%= "This coupon has been used #{@coupon.times_applied} times" %>
<% end %>

<% if @coupon.status == "active" && @coupon.pending_items_count == 0 %>
  <%= button_to 'Deactivate', merchant_coupon_path(@merchant, @coupon), method: :patch, params: {status: 'inactive'} %></li>
<% elsif @coupon.status == "inactive" && @merchant.active_coupons_count < 5 %>
  <%= button_to 'Activate', merchant_coupon_path(@merchant, @coupon), method: :patch, params: {status: 'active'} %></li>
  <% else %>
  <p><%= "Make sure you have less than 5 active coupons, and that none of those active coupons have pending invoice items." %></p>
<% end %>